<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body class="mt-40">

    <div class="container-30">

        <div class="tasks">
            <h2>Tasks</h2>

            <div class="tasks__card mb-20">
                <div>
                    <div>
                        <label for="check-1" class="center-width-and-height">
                            <svg width="11" height="7" viewBox="0 0 11 7" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.37501 3.45769L4.06202 6.1447L9.43603 0.770685" stroke="white"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </label>
                        <input type="checkbox" id="check-1">
                    </div>

                    <div>
                        <h3>Design Homepage</h3>
                        <p>Thu, Nov 23</p>
                    </div>
                </div>

                <div class="tasks__img">
                    <img src="../../assets/images/avatar-2.png" alt="avatar">
                </div>
            </div>

            <div class="seperate mb-20"></div>

            <div class="tasks__card mb-20">
                <div>
                    <div>
                        <label for="check-2" class="checked-task center-width-and-height">
                            <svg width="11" height="7" viewBox="0 0 11 7" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.37501 3.45769L4.06202 6.1447L9.43603 0.770685" stroke="white"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </label>
                        <input type="checkbox" id="check-2">
                    </div>

                    <div>
                        <h3>Sketsa Ilustrasi</h3>
                        <p>Mon, Nov 15</p>
                    </div>
                </div>

                <div class="tasks__img">
                    <img src="../../assets/images/avatar-3.png" alt="avatar">
                </div>
            </div>

            <div class="seperate mb-20"></div>

            <div class="tasks__card">
                <div>
                    <div>
                        <label for="check-3" class="center-width-and-height">
                            <svg width="11" height="7" viewBox="0 0 11 7" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.37501 3.45769L4.06202 6.1447L9.43603 0.770685" stroke="white"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </label>
                        <input type="checkbox" id="check-3">
                    </div>

                    <div>
                        <h3>Onboarding Design</h3>
                        <p>Wed, Nov 15</p>
                    </div>
                </div>

                <div class="tasks__img">
                    <img src="../../assets/images/avatar-1.png" alt="avatar">
                </div>
            </div>

        </div>

    </div>

</body>

</html>