<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Progress</title>
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body class="pt-40">

    <div class="container-30">

        <div class="weekly-progress">
            <h2>Weekly Progress</h2>
            <p>Start from Nov 7-14, 2020</p>
            <div class="progress-container">
                <div class="main-circle">
                    <svg class="progress-circle" width="169" height="169" viewBox="0 0 179 179" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <!-- Full Circle Stroke -->
                        <circle cx="89.5" cy="89.5" r="84.5" stroke="#46BD84" stroke-width="10" fill="none" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="progress-text">
                        <h3>75%</h3>
                        <p>Tasks Completed</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>