<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note</title>
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body class="mt-40">

    <div class="container-30">

        <div class="note-card">
            <span>Illustration</span>
            <p>Membuat konsep ilustrasi untuk halaman homepage dan about us</p>
            <div>
                <div class="icon-pairs">
                    <div>
                        <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M7.63333 0.666667C7.55412 0.278611 7.21272 0 6.81667 0H0.833333C0.373096 0 0 0.373096 0 0.833333V13.3333C0 13.7936 0.373096 14.1667 0.833333 14.1667C1.29357 14.1667 1.66667 13.7936 1.66667 13.3333V8.33333H6.33333L6.53333 9.33333C6.60895 9.72355 6.95254 10.004 7.35 10H11.6667C12.1269 10 12.5 9.62691 12.5 9.16667V2.5C12.5 2.03976 12.1269 1.66667 11.6667 1.66667H7.83333L7.63333 0.666667Z"
                                fill="#C4CAD3" />
                        </svg>
                        <span>Nov 24</span>
                    </div>

                    <div>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.777802 0.77771H13.2222V10.111H2.85188L0.777802 12.1851V0.77771Z"
                                fill="#C4CAD3" />
                        </svg>

                        <span>2</span>
                    </div>
                </div>

                <div class="note-avatar">
                    <img src="../../assets/images/avatar-3.png" alt="avatar">
                </div>
            </div>
        </div>

    </div>

</body>

</html>