<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body class="pt-80">

    <div class="container-40">

        <div class="message message--alert mb-16">
            <div class="center-width-and-height">
                <svg width="3" height="12" viewBox="0 0 3 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M2.75 0.349999L2.51 7.595H0.74L0.485 0.349999H2.75ZM1.67 11.105C1.29 11.105 0.975 10.99 0.725 10.76C0.485 10.52 0.365 10.225 0.365 9.875C0.365 9.525 0.485 9.235 0.725 9.005C0.975 8.765 1.29 8.645 1.67 8.645C2.04 8.645 2.345 8.765 2.585 9.005C2.825 9.235 2.945 9.525 2.945 9.875C2.945 10.225 2.825 10.52 2.585 10.76C2.345 10.99 2.04 11.105 1.67 11.105Z"
                        fill="white" />
                </svg>
            </div>

            <div>
                <h2>Someting wrong</h2>
                <p>Lorem ipsum dolor sit amet</p>
            </div>

        </div>

        <div class="message message--warning mb-16">
            <div class="center-width-and-height">
                <svg width="4" height="12" viewBox="0 0 4 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M2.1 2.7C1.73 2.7 1.42 2.585 1.17 2.355C0.93 2.115 0.81 1.82 0.81 1.47C0.81 1.12 0.93 0.829999 1.17 0.599999C1.42 0.359999 1.73 0.239999 2.1 0.239999C2.47 0.239999 2.775 0.359999 3.015 0.599999C3.265 0.829999 3.39 1.12 3.39 1.47C3.39 1.82 3.265 2.115 3.015 2.355C2.775 2.585 2.47 2.7 2.1 2.7ZM3.135 3.69V12H1.035V3.69H3.135Z"
                        fill="white" />
                </svg>
            </div>


            <div>
                <h2>Someting wrong</h2>
                <p>Lorem ipsum dolor sit amet</p>
            </div>

        </div>

        <div class="message message--success mb-16">
            <div class="center-width-and-height">
                <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.14936 4.68331L4.44919 7.98314L11.0489 1.38348" stroke="white" stroke-width="1.45814"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>


            <div>
                <h2>Someting wrong</h2>
                <p>Lorem ipsum dolor sit amet</p>
            </div>

        </div>

        <div class="message message--info">
            <div class="center-width-and-height">
                <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.14936 4.68331L4.44919 7.98314L11.0489 1.38348" stroke="white" stroke-width="1.45814"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>


            <div>
                <h2>Someting wrong</h2>
                <p>Lorem ipsum dolor sit amet</p>
            </div>

        </div>

    </div>

</body>

</html>