<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons</title>
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body class="pt-80">

    <div class="container-20">

        <button class="button button--normal">Normal Button</button>
        <button class="button button--loading center-width-and-height">
            <svg class="mr-10" width="23" height="8" viewBox="0 0 23 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4" cy="4" r="4" fill="#7784EE" />
                <circle cx="13.5" cy="4" r="3" fill="#7784EE" />
                <circle cx="21" cy="4" r="2" fill="#7784EE" />
            </svg>
            <span>Loading Button</span>
        </button>
        <button class="button button--secondary">Secondary Button</button>

    </div>

</body>

</html>