<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Progress</title>
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body class="mt-40">

    <div class="container-30">

        <div class="task-progress">
            <h2>Task Progress</h2>

            <div class="mb-24">
                <div class="task">
                    <h3>Copywriting</h3>
                    <span>3/8</span>
                </div>

                <div class="progress-bar violet-purple-transparent-bg">
                    <div class="progress magenta-pink-bg w-35"></div>
                </div>
            </div>

            <div class="mb-24">
                <div class="task">
                    <h3>Illustrations</h3>
                    <span>6/10</span>
                </div>

                <div class="progress-bar teal-green-transparent-bg">
                    <div class="progress emerald-green-bg w-50"></div>
                </div>
            </div>

            <div class="mb-4">
                <div class="task">
                    <h3>UI Design</h3>
                    <span>2/7</span>
                </div>

                <div class="progress-bar sky-blue-transparent-bg">
                    <div class="progress sky-blue-bg w-25"></div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>