@use "../abstracts/" as *;
@use "../base/" as *;

.labels {
  background-color: white;
  @extend .p-28;
  box-shadow: 0px 30px 60px 0px #20385526;
  border-radius: 8px;
  position: relative;

  > svg {
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 16px;
  }

  h2 {
    @extend .mb-24;
    @extend .text-large-medium;
  }

  .label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .label-text {
      display: flex;
      align-items: center;
      column-gap: 16px;
    }

    h3 {
      @extend .text-medium-small;
      color: $deep-black;
    }

    input {
      display: none;
    }

    label {
      width: 24px;
      height: 24px;
      display: block;
      background-color: #08a0f70f;
      border: 1px solid #08a0f7;
      border-radius: 3px;
      flex-shrink: 0;
      @extend .mr-16;
      svg {
        display: none;
      }
    }

    label:has(input:checked) {
      background-color: #08a0f7;
      svg {
        display: block;
      }
    }
  }

  .seperate {
    border-bottom: 1px solid #ececec;
    @extend .mb-16;
  }
}
